body{
    margin:0;
   ;
    
    background-color: #121D35;
    
}
.imageContainer{
    width:100vw;
}
.image{
    width:100%;
    height:500px;
}
.menuBox{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-left: 15px;
padding-right:15px;
}
.box{
    margin-top:15px;
    width:300px;
    height:270px;
    background-color: white;
    border-radius: 5px;
    padding:15px;
}
.text{
    height:300px;
}
.rights{
 
    display: flex;
    height:20px;
    background-color: indianred;
   
    
}


.innerBoxContainer{
   
    height:50px;
    margin-bottom: 20px;
}
.secondImage{
    width:50px;
    height:100%;
    display: inline-block;
}
.titleName{
    padding:0;
    font-size: 25px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 30px;
    user-select: none;

}
.titleContainer{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
    background-color:white;
    position:sticky;
    top:0px;
}
.logo{
    height:70px;
    width:70px;
    margin-left: 20px;
   

}
.others{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
    width:800px;
    
}
.title{
    height:70px;
    width:150px;
      
}
h1{
    text-shadow: 1px 1px white;
    user-select: none;
}
.pic{
    width:50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius:25px;
    overflow: hidden;
   
}
.logo2{
    width:100%;
    height:100%;

}
.menu{
    width: 150px;
    height: 100%;
 display:none;
}
.hiding{
    opacity: 0;
}
.icon{
    height:7px;
    width:35px;
    background-color: black;
    margin-bottom: 3px;
    border-radius: 5px;

}
.iconContainer{
    margin-top: 13px;
    margin-right:20px;
}
.T1{
    transform: rotate(45deg) translateX(4px) translateY(10px);
 
}
.T2{
    transform: rotate(-45deg) translateX(3px) translateY(-10px);
}
.T1,.T2,.hiding{
transition:all 0.4s ease-in-out;
}
.isOpened{
    z-index: 1;
}
.created{
    position:sticky;
    top:50px;
    width:100%;
    height:0px;
    background-color: cornflowerblue;
    transition:height 1s ease-in-out;
    
}

.result{
   
    width:100vw;
    overflow: hidden;
    top:50px;
    position: fixed;
    
    
    
}
.created2{
    height:50px;
    background-color: cornflowerblue;
    transition:height 1s ease-in-out;
   ;
}
.Menu{
    width:100;
    height:50;
    font-size: 20px;
    display:inline-block;
    margin-left: 25px;
    user-select: none;
    cursor: pointer;
}
.Menu2{
    margin-top: 10px;
    padding:2px;
    background-color: ;
    border-radius: 5px;
    opacity: 1;
}
.Menu2:hover{
opacity:0.7;

}
@media(max-width:600px){
    .imageContainer{
     width:100vw;
    }
    .image{
        width:100%;
        height:300px;
    }
    .titleContainer{
      width:100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:50px;
        background-color:white;
        position:sticky;
        top:0px;
    }
    .logo{
        height:50px;
        width:50px;
        margin-left: 10px;
       
    
    }
    .imageContainer{
        width:100vw;
    }
    .others{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:50px;
       
       
    }
    .title{
        height:50px;
        width:50px;
          
    }
    h1{
        text-shadow: 1px 1px white;
        user-select: none;
    }
    .pic{
        width:25px;
        height: 25px;
        margin-left: 10px;
        margin-top: 10px;
        border-radius:25px;
        overflow: hidden;
       
    }
    .logo2{
        width:100%;
        height:100%;
    
    }
    .box{
    margin-top:15px;
    width:300px;
    height:270px;
    background-color: white;
    border-radius: 5px;
    padding:15px;
}
    }
@media(max-width:400px){
    .box{
    margin-top:15px;
    width:300px;
    height:270px;
    background-color: white;
    border-radius: 5px;
    padding:15px;
}
    body{
        width:100vw;
    }
        .imageContainer{
                width:100vw;
        }
        .image{
            width:100%;
            height:200px;
        }
        .rights{
            width:100vw;
            height:60px;
            background-color: indianred;
         
            text-align: center;
            
        }
        .mainBox{
            display:flex;
            justify-content: center;
        }
        .menuBox{
            display: block;
            justify-content: space-between;
            }
            .titleContainer{
                width:100vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height:50px;
                background-color:white;
                position:sticky;
                top:0px;
            }
            .logo{
                height:50px;
                width:50px;
                margin-left: 10px;
               
            
            }
            .others{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height:50px;
                width:150px;
                
            }
            .title{
                height:50px;
                width:128px;
                position: relative;
                top:-13px;
                  
            }
            h1{
                text-shadow: 1px 1px white;
                user-select: none;
                
            }
            .pic{
                width:30px;
                height: 30px;
                margin-left: 10px;
                margin-top: 10px;
                border-radius:25px;
                overflow: hidden;
               
            }
            .logo2{
                width:100%;
                height:100%;
            
            }
    .iconContainer{
    margin-top: 13px;
        margin-right:20px;
}
 }
 @media(max-width:325px){
     .box{
    margin-top:15px;
    width:300px;
    height:270px;
    background-color: white;
    border-radius: 5px;
    padding:15px;
}
    .imageContainer{
            width:100vw;
    }
    .image{
        width:100%;
        height:200px;
    }
    .rights{
        width:100vw;
        height:60px;
        background-color: indianred;
        text-align: center;
        
    }
    .mainBox{
        display:flex;
        justify-content: center;
    }
    .menuBox{
        display: block;
        justify-content: space-between;
        }
        .titleContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height:50px;
            background-color:white;
            position:sticky;
            top:0px;
        }
        .logo{
            height:50px;
            width:50px;
            margin:0px;
           
        
        }
        .others{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height:50px;
            width:50px;
            background-color:white; 
        }
        .title{
            height:50px;
            width:128px;
            position: relative;
            top:-13px;
              margin-left: 10px;
        }
        h1{
            text-shadow: 1px 1px white;
            user-select: none;
            
        }
        .pic{
            width:30px;
            height: 30px;
            margin-left: 10px;
            margin-top: 10px;
            border-radius:25px;
            overflow: hidden;
           
        }
        .logo2{
            width:100%;
            height:100%;
        
        }
        .menu{
            display:none;
        }
        .hiding{
           opacity: 0;
        }
}
