
/* from 1024 to 1200px */
@media only screen and (max-width:1200px){
    
}

/* small tablets and big tabets from 768 to 1023px */
@media only screen and (max-width:1023px){
    html{
        font-size: 18px;
    }
   
     /*----------------- subject section ----------------- */
     .row4{
        max-width: 500px;
    }
     .box-container{
        margin-top: 50px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    .sub-box{
        width:30%;
       
    }  
}
/* small phone and small tablets from 481 to 767px*/
@media only screen and (max-width:767px){
    html{
        font-size:18px;
    }
    .row{
        max-width: 650px;
    }
    /*----------------- header section ----------------- */
    .row4{
        max-width: 500px;
    }
     .box-container{
        padding-top: 50px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    .nav{
        padding-left:15px;
    }
    .nav-bar{
        background-color: #fff;
        position:absolute;
        top:54px;
        left:-115px;
        transition: all ease-in 0.4s;
    } 
    .nav li{
        display:block;
        padding:0 10px;
       
    }
    .nav li a{
        text-decoration: none;
        color:black;
        font-size: 90%;
       
    }
    /* for animation */
    .display-block{
        display: block;
    }
    .iconContainer{
        display:block;
    }
    .nav-animate{
        box-shadow: 5px  5px  10px #535151;
        left:0px;
        transition: all ease-in 0.4s;
    }
    /* -------------------------------------------- */
    /*----------------- subject section ----------------- */
    .sub-box{
        width:100%;
        height:auto;
       
    }  
    .sub-text{
        font-size: 250%;
        font-weight: 800;
      
    }


    /*----------------- enroll-intro section ----------------- */
    .intro-box{
        width:40%;
    }
     /*----------------- blog section ----------------- */
     .blog-box{
         width:45%;
         
     }
     
     /*----------------- footer section ----------------- */
    
     .footer-box{
        width:45%;
        
    }
}




/* small phone from 0 to 480px */
@media only screen and (max-width:480px){
    .row{
        max-width: 350px;
    }
    html{
        font-size: 17px;
    }
    .row2{
       
        max-width: 350px;
        
        
    }
 /*----------------- header section ----------------- */


.nav{
    padding-left:15px;
}
.nav-bar{
    background-color: #fff;
    position:absolute;
    left:-115px;
        transition: all ease-in 0.4s;
} 
.nav li{
    display:block;
    padding:5px 10px;
   
}
.nav li a{
    text-decoration: none;
    color:black;
    font-size: 100%;
   
}
/* for animation */
.display-block{
    display: block;
}
.nav-animate{
    box-shadow: 5px  5px  10px #535151;
    left:0;
    transition: all ease-in 0.4s;
}
/* ----------------------------------------- */
 .title-handler{
   padding-top: 100px; 
 }
    .row2 h2 div{
        margin-bottom:15px;
        padding:0;
        color: cyan;
        font-size: 150%;
    }
    #search-item{
        width:58%   ;
    height:50px;
    display: inline-block;
    border-radius:25px;
    padding-left: 40%;
    }
    .search-button{
       width:100%;
       margin-top: 15px;
       font-size: 200%;
   border-radius: 25px ;
   display: inline-block;
   min-width: 10%;
   background-color: rgb(109, 111, 202);
    }
    .second-handler{
        display: block;
    }
    .input-handler p{
        top:18px;
       left:30px;
       cursor: pointer;
    }
    .fa-chevron-down,
    .fa-chevron-up{
       top:23px;
      left:120px;
    }
    .row3{
       max-width: 350px;
    }
    .categories-items{
        border-radius: 5px;
        width:110px;
        height:0;
        background-color: white;
        position: absolute;
        top:56px;
        left:20px;
        overflow: hidden;
        transition: height 1s;
    }
  
    .cateDiv-block{
        height:150px;
        transition: height 1s;
        
    }  
 /*----------------- intro section ----------------- */
 .intro{
  
    background-image: url(img/how-it-works-bg.jpg);
    background-size: contain;
}
    .box-container{
        padding-top: 50px;
        display:flex;
        flex-direction: column;
        align-items: center;
       
    }
    /*----------------- dev-team section ----------------- */
 .dev-team-box{
    max-width: 80%;
 }
  /*----------------- subjects section ----------------- */
 .sub-box{
    width:100%;
   
}   .sub-text{
    font-size: 100%;
    font-weight: 800;
  
}
/*----------------- enroll-intro section ----------------- */
.enroll-intro .box-container{
   align-items: center;
}
.intro-box{
    width:80%;
}
.enroll-intro .row3 .box-container ul li{
    padding:10px 0 10px 0;
    font-size: 90%;
}
.fa-check,.fa-times{
  
    font-size: 90%;
}
 /*----------------- blog section ----------------- */
 .blog-box{
     width: 100%;
 }
 /*----------------- contact section ----------------- */

 #contact .row2 .form-handler input{
     font-size: 100%;
 }
 /*----------------- footer section ----------------- */
 .footer-box{
    width:100%;
    
}
.footer-box h5{
    font-size: 120%;
    padding:10px 0 10px 20px;
}
.footer-box ul li{
    font-size: 100%;
    list-style: none;
    padding:0px 0 10px 20px;
}
 /*----------------- copyright section ----------------- */
 .copy-right{
    background-color: darkslategrey;
    padding:15px 0 5px 0;
    font-size: 100%;

}
.copy-right p{
    margin-top: 4px;

}
}
 
