<<<<<<< HEAD
.btn-submit{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   letter-spacing: 1.5px;
}
.sign-up{
    margin-top: 100px;
}
.handler{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 5px #413f3f ;
}
/* for home page */
.main_container{
    max-width:1000px;
    height:100vh;
}
=======
.btn-submit{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
   letter-spacing: 1.5px;
}
.sign-up{
    margin-top: 100px;
}
.handler{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 5px #413f3f ;
}
/* for home page */
.main_container{
    max-width:1000px;
    height:100vh;
}
>>>>>>> 2a53df39bbca5c60b5f3e5e78f19cb2f54830d65
